body{
    min-height: 100%;
}

#title{
    width: 100%;
    height: 80px;
}

#title_back{
    width: 100%;
    height: 100%;
    background-color: #303030;
}

#title_text{
    position: absolute;
    top: 20px;
    left: 80px;
    letter-spacing: 4px;
    color: white;
}

#title_icon{
    position: absolute;
    width: 60px;
    top: 15px;
    left: 10px;
}

#login_card{
    left: 60%;
    top: 50px;
    width: 30%;
    height: 470px;
}

#login_title{
    letter-spacing: 4px;
    font-weight: bold;
    opacity: .8;
}

#login_form>*{
    margin-top: 30px;
    padding: 10px;
}

#error_notif{
    display: none;
    margin: 0;
}

.index_img{
    -webkit-filter: grayscale(100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    height: calc(100% - 80px);
    width: 100%;
    position: absolute;
}

.ps_link{
    font-size: 13px;
    color: #007bff;
}

.ps_link:hover{
    color: #0056b3;
    cursor: pointer;
    text-decoration: underline;
}

/* menu.php */
#menu_card{
    position: absolute;
    background-color: #303030;
    width: 20%;
    height: calc(100% - 80px);
}

#menu_card>*{
    font-size: 14px;
}

#menu_title{
    color: white;
}

.menu{ /*botones de menu*/
    font-size: 16px;
    color: white;
    background-color: #303030;
}

#main_menu{
    width: 100%;
}

.menu{
    width: 100%;
}

#menu_title{
    display: none;
}

.menu_container{
    width: 100%;
}

.sub_menu{
    color: white;
    background-color: #303030;
    font-size: 14px;
}

.submenu_ul{
    display: none;
}

.logout_link{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn{
    border-radius: 0;
}

#content{
    position: absolute;
    left: 20%;
    height: calc(100% - 80px);
    width: 80%;
    background-color: white;
}

#welcome_img{
    position: relative;
    left: 35%;
    width: 20%;
}

#breadcrums{
    padding: 10px;
}

hr{
    padding: 0;
    left: 0;
    width: 90%;
}

#social {
    position: absolute;
    bottom: 10px;
    left: 5%;
}

#title{
    cursor: pointer;
}

#cat_btn{
    width: 100px;
    display: block;
}

/* nuevo.php */
#data_name{
    margin: 0;
}

#data_name>*{
    display: inline;
}

.data_input{
    max-height: 100%;
}

.sep_option{
    padding-right: 30px;
    text-align: left;
}

#deshechar,#guardar,#edit_name,#cancelar{
    border-radius: 2px;
}

#edit_name{
    padding: 4px;
    margin-left: 10px;
}

#notif{
    display: none;
    margin: 0;
}

/* Mostrar.php */
#data_table{
    width: 90%;
    margin-left:20px;
    margin-right:20px;
}

#editar, #eliminar{
    border-radius: 3px;
}
